@page
@model IndexModel
@{
    ViewData["Title"] = "Weather Forcast";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It will @(Model.IsMuddy ? string.Empty : "NOT ")be muddy at Geo Location Longitude :@(Model.GeoLocation.Longitude) Latitude :@(Model.GeoLocation.Latitude) </p>
</div>